Django==1.4.3
Fabric==1.5.2
Pillow==1.7.8
South==0.7.6
distribute==0.6.14
django-appconf==0.5
django-ckeditor==3.6.2.1
django-haystack==1.2.7
django-imagekit==2.0.2
django-simple-captcha==0.3.4
django-taggit==0.9.3
django-taggit-templatetags==0.4.6dev
django-templatetag-sugar==0.1
paramiko==1.9.0
psycopg2==2.4.6
pycrypto==2.6
pysolr==2.1.0
wsgiref==0.1.2
