{% extends "base-carbon.html" %}

{% block body %}
<body>
<div class="container-fluid">

{% include "navbar.html" %}

<div class="row-fluid">

<div class="span8 static-left-col">
<h1>About</h1>
</div>

<div class="span4 static-right-col">
<p>
FastFreshLife is a canvas for many to express themselves.Customizing cars is a form of art. Nothing is tasteless or tacky, as beauty is in the eye of the beholder.
FastFreshLife is here so you can share your story, inspire, and be inspired.
</p>
</div>

</div>

</div>

{% include "jscript.html" %}

</body>
{% endblock %}