{% extends "base-carbon.html" %}

{% block body %}
<body>
<div class="container-fluid">

{% include "navbar.html" %}

<div class="row-fluid">
<div class="span8 static-left-col">
<h1>Edit Your Account</h1>
<a class="btn btn-danger" href="/account/delete">Delete Account</a>
</div>
<div class="span4 static-right-col">
<form id="editAccountForm" enctype="multipart/form-data" action="/account/edit/" method="post">
{% csrf_token %}
{{ form.username }}
{{ form.email }}
<p><strong>Profile Photo</strong> {{ form.photo }}</p>
{{ form.motto }}
{{ form.city }}
{{ form.state }}
{{ form.country }}<br>
<input class="btn btn-primary" type="submit" value="Submit" />
<a class="btn" href="/home/">Cancel</a>
</form>
<a class="resetpw" href="/account/password/change">Change Password</a>


</div>    
</div>

</div>

{% include "jscript.html" %}

</body>
{% endblock %}