{% extends "base.html" %}

{% block body %}
<div class="container">

{% include "navbar.html" %}

{% include "messageform.html" %}

<div class="branding">
    <img src="/static/images/ffl_logo.jpg"/>
</div>

{% include "usernav.html" %}

<div class="row">
    <div class="span3">
        {% include "ownerbar.html" %}
    </div>
    <div class="span9">
        <div class="postform">
        <a type="button" href="/journal/{{owner.username}}/car/{{car.id}}/post/{{post.id}}/" class="close">&times;</a>
        <h3>Edit Post</h3>
        <form id="editPostForm" action="/journal/{{owner.username}}/car/{{car.id}}/post/{{post.id}}/edit/" method="post">
            {% csrf_token %}
            {{ editpostform.title }}
            {{ editpostform.p_tags }}
            {{ editpostform.body }}
        <input type="submit" class="btn btn-primary postButton" value="Save Post">
        <a id="deletePost" href="/journal/{{post.car.owner.username}}/car/{{post.car.id}}/post/{{post.id}}/delete/" class="btn btn-danger">Delete</a>
        </form>
        </div>
    </div>
</div>

</body>
{% endblock %}