{% extends "base.html" %}

{% block body %}
<body>

<div class="container">

{% include "navbar.html" %}

{% include "newcarform.html" %}

<div class="branding">
    <img src="/static/images/FASTFRESHLIFEVECTOR.png"/>
</div>

{% include "usernav.html" %}

<div class="row">
    <div class="span3">
        {% if isVendor %}
            {% include "vendorbar.html" %}
        {% else %}
            {% include "ownerbar.html" %}
        {% endif %}
    </div>
    <div class="span9">
        {% include "updates.html" %}
    </div>
</div>

</div>

</body>
{% endblock %}
