{% extends "base-carbon.html" %}

{% block body %}
<body>
<div class="container-fluid">

{% include "navbar.html" %}

<div class="row-fluid">

<div class="span8 static-left-col">
<img class="welcome" src="/static/images/FASTFRESHLIFEBETA.png">
</div>

<div class="span4 static-right-col">
<form id="signInForm" class="signin rounded-corners" method="post" action="/">
    {% csrf_token %}
    {{ form.username }}<br/>
    {{ form.password }}<br/>
    <input class="btn btn-primary" type="submit" value="Sign In" />
    <a href="/account/password/reset/">Forgot Password</a>
</form>
<a class="btn btn-large btn-primary signup" href="/account/new/">Sign Up</a>
</div>    

</div>

</div>

{% include "jscript.html" %}

</body>
{% endblock %}