{% extends "base.html" %}

{% block body %}
<div class="container">

{% include "navbar.html" %}

{% include "messageform.html" %}

{% include "newphotoform.html" %}

{% include "editmodform.html" %}

{% include "newmodform.html" %}

{% include "editcarform.html" %}

{% include "newcarform.html" %}

{% include "lightbox.html" %}

<div class="branding">
    <img src="/static/images/FASTFRESHLIFEVECTOR.png"/>
</div>

{% include "usernav.html" %}

<div class="row">
    <div class="span3">
        {% include "ownerbar.html" %}
    </div>
    <div class="span9">
        {% include "tabs.html" %}
    </div>
</div>

</body>
{% endblock %}
