{% extends "base.html" %}

{% block body %}
<div class="container">

{% include "navbar.html" %}

{% if not isOwner %}
{% include "messageform.html" %}
{% endif %}

{% if isOwner %}
{% include "newcarform.html" %}
{% endif %}

{% if messageSent %}
<div class="row">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><strong>Done!</strong> Your message has been sent.</p>
    </div>
</div>
{% endif %}

<div class="branding">
    <img src="/static/images/FASTFRESHLIFEVECTOR.png"/>
</div>

{% include "usernav.html" %}

<div class="row">
    <div class="span3">
        {% if isVendor %}
            {% include "vendorbar.html" %}
        {% else %}
            {% include "ownerbar.html" %}
        {% endif %}
    </div>
    <div class="span9">
        {% if isVendor %}
            {% include "vendorposts.html" %}
        {% else %}
            {% include "cars.html" %}
        {% endif %}
    </div>
</div>

</div>

{% include "jscript.html" %}

</body>
{% endblock %}
