{% if user.is_authenticated %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav pull-right">
            <li><a href="/account/edit/">Account</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
    </div>
</div>
{% else %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="/">FastFreshLife</a></li>
        <ul class="nav pull-right">
            <li><a href="/about/">About</a></li>
            <li><a href="/terms/">Terms</a></li>
            <li><a href="/privacy/">Privacy</a></li>
            <li><a href="/contact/">Contact</a></li>          
        </ul>
    </div>
</div>
{% endif %}
