{% extends "base-carbon.html" %}

{% block body %}
<body>
<div class="container-fluid">

{% include "navbar.html" %}

<div class="row-fluid">
<div class="span8 static-left-col">
<h1>Create Owner Account</h1>
</div>
<div class="span4 static-right-col">
<p class="instruction">
Welcome to FastFreshlife! Please fill in all fields below. 
</p>
<form id="newAccountForm" enctype="multipart/form-data" action="/account/new/owner/" method="post">
{% csrf_token %}
{{ form.username }}
{{ form.email }}
{{ form.password }}
<p class="instruction"><strong>Profile Photo</strong> {{ form.photo }}</p>
{{ form.motto }}
{{ form.city }}
{{ form.state }}
{{ form.country }}<br>
{{ form.captcha }}
<p class="instruction">By clicking submit, you agree to the <a href="/terms/">terms of service</a>.</p>
<input class="btn btn-primary" type="submit" value="Submit" />
{% if msg %}
<p><strong><label class="warning">{{msg}}</label></strong></p>
{% endif %}
</form>
</div>    
</div>

</div>

{% include "jscript.html" %}

</body>
{% endblock %}