<div id="newPhoto" class="modal hide fade">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add Photo</h3>
    </div>
    <div class="modal-body">
        <form enctype="multipart/form-data" action="/photoboard/{{current_board.pk}}/upload/"method="post">
            {% csrf_token %}
            {{ photoform.caption }}
            {{ photoform.photo }}
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Add">
        </form>
    </div>
</div>