<div id="newMod" class="modal hide fade">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add Modification</h3>
    </div>
    <div class="modal-body">
        <form id="newModForm" action="/journal/{{owner.username}}/car/{{car.id}}/mod/add/" method="post">
            {% csrf_token %}
            {{ modform.modType }}
            {{ modform.brand }}
            {{ modform.part }}
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Add">
        </form>
    </div>
</div>