{% extends "base.html" %}

{% block body %}
<body>

<div class="container">

{% include "navbar.html" %}

<div class="branding">
    <img src="/static/images/ffl_logo.jpg"/>
</div>

{% include "usernav.html" %}

<div class="row-fluid content-block">
    <div class="span3">
        {% include "ownerbar.html" %}
    </div>
    <div class="span9">
        <div class="postform">
        <h3>New Post</h3>
        <form enctype="multipart/form-data"  action="/journal/{{owner.username}}/car/{{car.pk}}/post/add/" method="post">
            {% csrf_token %}
            {{ form.title }}
            {{ form.tags }}
            {{ form.body }}
        <a class="btn btn-primary" type="submit">Submit</a>
        <a class="btn" href='/journal/{{owner.username}}/car/{{car.pk}}/'>Cancel</a>
        </form>
        </div>
    </div>
</div>

</div>

{% include "jscript.html" %}

</body>
{% endblock %}
