        <div class="tabs">
        <ul class="nav nav-tabs maintab">
            <li id="carItem" {% if carTabActive %}class="active"{% endif %}><a id="carTab" href="#">Car</a></li>
            <li id="postsItem" {% if postsTabActive %}class="active"{% endif %}><a id="postsTab" href="#">Posts</a></li>
            <li id="modItem" {% if modTabActive %}class="active"{% endif %}><a id="modTab" href="#">Mod List</a></li>
            {% if galleryTabActive %}
            <li id="galleryItem" class="active"><a id="galleryTab" href="#">Gallery</a></li>
            {% else %}
            <li id="galleryItem"><a id="galleryTab" href="#">Gallery</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div id="carContent" {% if not carTabActive %}class="hide"{% endif %}>
                {% if isOwner %}
                <small class="pull-right edit"><a id="editCarLink" href="#editCar" data="{{car.id}}" class="btn btn-mini" data-toggle="modal">edit</a></small>
                {% endif %}
                <h3>{{car.year}} {{car.make }} {{car.model}} - {{car.name }}</h3>
                <p>Fast Votes: <span id="fastvotecount">{{fastvotecount}}</span>
                <a class="votelink" href="#" data="/journal/{{owner.username}}/car/{{car.id}}/vote/fast/"><i class="icon-heart"></i></a>
                Fresh Votes: <span id="freshvotecount">{{freshvotecount}}</span>
                <a class="votelink" href="#" data="/journal/{{owner.username}}/car/{{car.id}}/vote/fresh/"><i class="icon-heart"></i></a>
                </p>
                {% if c_tags %}
                    <ul class="tags">
                    {% for c_tag in c_tags %}
                    <li>{{c_tag}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <img src='{{ car.display_image.url }}'/>
            </div>
            <div id="postsContent" {% if not postsTabActive %}class="hide"{% endif %}>
                <ul class="pager">
                    {% if isOwner %}
                        <li><a href="/journal/{{owner.username}}/car/{{car.id}}/post/add/">Create Post</a></li>
                    {% endif %}
                </ul>                
                <div id="postScroll">
                {% if posts %}
                {% for post in posts %}
                    <div class="post">
                        {% if isOwner %}
                        <a class="btn btn-mini pull-right" href="/journal/{{post.username}}/car/{{post.carid}}/post/{{post.id}}/edit/" >Edit Post</a>
                        {% endif %}
                        <h3>{{post.title}}</h3>
                        <p>
                        Published on {{ post.pub_date }} by {{ post.author }} | Likes: <span id="likecount_{{post.id}}">{{post.likecount}}</span> <a class="likelink" href="#!" targetid="#likecount_{{post.id}}" data="/journal/{{owner.username}}/car/{{car.id}}/post/{{post.id}}/like/"><i class="icon-thumbs-up"></i></a>
                        </p>
                        {% if post.tags %}
                            <ul class="tags">
                            {% for tag in post.tags %}
                            <li>{{tag}}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No tags</p>
                        {% endif %}
                    </div>
                    <div class="body">
                    {{ post.body|safe }}
                    </div>
                    <div id="postComments_{{post.id}}">
                        <p><a class="commentListToggle" targetid="#commentbox_{{post.id}}" state="off" href="#!"><strong>Comments: {{post.comments|length}}</strong></a></p>
                        <div id="commentbox_{{post.id}}" class="hide">
                        <div>
                            <form id="commentform_{{post.id}}">
                                {% csrf_token %}
                                {{ postcommentform.body }}
                                <a class="btn btn-mini postCommentSubmit" targetid="#postComments_{{post.id}}" formid="#commentform_{{post.id}}" formurl="/journal/{{post.username}}/car/{{post.carid}}/post/{{post.id}}/newcomment/">Submit</a>
                            </form>
                        </div>
                        {% if post.comments %}
                        <div class="commentList">
                            <ul>
                                {% for c in post.comments %}
                                    <li class="rounded-corners">
                                        {% if isOwner %}
                                        <a targetid="#postComments_{{post.id}}" data="/journal/{{post.username}}/car/{{post.carid}}/post/{{post.id}}/comment/{{c.id}}/delete/" class="close postCommentDelete">&times;</a>
                                        {% endif %}
                                        <p class="commentbody">{{c.body}}</p>
                                        <p class="byline" >Posted by {{c.user.get_profile.display_name}} on {{c.pub_date}}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        </div>
                    </div>                    
                {% endfor %}
                {% else %}
                    <h3>No Posts!</h3>
                {% endif %}
                </div>
                <div id="loadmoreajaxloader" style="display:none" data="/journal/{{owner.username}}/car/{{car.id}}/post/{{last_post.id}}/next" page="1"><center>Loading</center></div>
            </div>
            
            <div id="modContent" {% if not modTabActive %}class="hide"{% endif %}>
                <ul class="pager">
                {% if isOwner %}
                    <li><a href="#newMod" data-toggle="modal">Add Modification</a></li>
                {% endif %}
                </ul>
            
                {% if mods %}
                <div class="mods">
                    <table class="table">
                    <thead>
                        <th>Mod Type</th>
                        <th>Brand</th>
                        <th>Parts</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for mod in mods %}
                        <tr>
                        <td>{{mod.modType}}</td>
                        <td>{{mod.brand}}</td>
                        <td>{{mod.part}}</td>
                        <td>
                            {% if isOwner %}
                            <span class="pull-right"><a class="editModLink" href="#editMod" data="{{mod.id}}" data-toggle= "modal">Edit</a> | <a href="/journal/{{owner.username}}/car/{{car.id}}/mod/{{mod.id}}/delete/">Delete</a></span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                {% else %}
                <p>No mods yet</p>
                {% endif %}
            </div>
        
            <div id="galleryContent" {% if not galleryTabActive %}class="hide"{% endif %}>
                <ul class="pager">
                {% if isOwner %}
                    <li><a href="#newPhoto" data-toggle="modal">Add Photo</a></li>
                    {% if photos %}
                    <li><a id="removePhoto" href="#">Remove Photo</a></li>
                    <li id="viewPhotosItem" style="display:none;"><a id="viewPhotos" href="#">View Photos</a></li>
                    {% endif %}
                {% endif %}
                </ul>
                {% if photos %}
                    <ul id="gallery">
                    {% for photo in photos %}
                        <li>
                            <a class="lightBoxLink" href='#lightBox' data-toggle="modal" data='{{photo.original_image.url}}' title='{{photo.caption}}'><img src='{{ photo.thumb_image.url }}' alt='{{photo.caption}}'/></a>
                        </li>
                    {% endfor %}
                    </ul>
                    <ul id="gallery_edit" class="hide">
                    {% for photo in photos %}
                        <li>
                            <a class="deletephoto" href='/journal/{{owner.username}}/car/{{car.id}}/photo/{{photo.id}}/delete' title='{{photo.caption}}'><img src='{{ photo.thumb_image.url }}' alt='{{photo.caption}}'/></a>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <P>No photos yet</p>
                {% endif %}
            </div>
        </div>
        </div>