{% extends "base-carbon.html" %}

{% block body %}
<body>
<div class="container-fluid">

{% include "navbar.html" %}

<div class="row-fluid">

<div class="span4 static-left-col">
<h1>Terms</h1>
</div>

<div class="span8 static-right-col">
<p>Effective: December 13, 2012</p>
<p>This website is part of the FASTFRESHLIFE service - a network of online blogging and social networking communities. When you register at any one of these communities, you gain access to all the communities. This will allow you to create, share, and view content across all the communities. FASTFRESHLIFE is offered by FASTFRESHLIFE, Inc.</p>
<p>These terms of use ("terms of use") constitute a binding agreement between FASTFRESHLIFE and you governing your use of FASTFRESHLIFE. By using FASTFRESHLIFE, you agree to be bound by all of the terms and conditions of the Terms of Use, regardless of whether you use FASTFRESHLIFE to post any of your own materials or to view materials posted by other people.</p>
<p>FASTFRESHLIFE reserves the right to modify the Terms of Use at any time. Your continued use of FASTFRESHLIFE after FASTFRESHLIFE modifies the Terms of Use will mean you agree to the Terms of Use as modified. If you do not agree to any modification, you should stop using FASTFRESHLIFE immediately. You should return to this page on a regular basis to view any modification to the Terms of Use.</p>
<h3>NON-COMMERCIAL USE</h3>
<p>You are granted a limited, revocable, non-exclusive, non-transferable license to use FASTFRESHLIFE solely in accordance with the Terms of Use and solely for your own personal, non-commercial purposes.</p>
<h3>PASSWORD</h3>
<p>When you register for a FASTFRESHLIFE account, you are asked to choose a password. You are responsible for maintaining the confidentiality of your password. You agree not to disclose your password to any third party except a parent or guardian. You will hold FASTFRESHLIFE harmless for any damage arising from a third party accessing FASTFRESHLIFE using a password you disclosed</p>
<h3>MEMBER CONDUCT</h3>
<p>FASTFRESHLIFEs Terms of Use include the Rules of Member Conduct below. These rules apply to any and all materials, including text, photograph, video and music you post on FASTFRESHLIFE (Content) regardless of whether the Content is included in blogs, e-mails, profiles, comments, skins or any other portion or feature of FASTFRESHLIFE. These rules also apply to any other use you may make of FASTFRESHLIFE (Conduct). Notwithstanding any provision of the Rules of Member Conduct, FASTFRESHLIFE reserves the right not to post or to remove any Content from FASTFRESHLIFE at any time, without notice, for any reason or no reason, in FASTFRESHLIFEs sole discretion.</p>
<p>The following is a list of Content and Conduct that violates the Rules of Member Conduct - you may not use FASTFRESHLIFE to:</p>
<ul>
<li>upload, post, email or otherwise transmit any Content that is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of anothers privacy, hateful, or racially, ethnically, sexually or otherwise objectionable;</li>
<li>harm minors in any way;</li>
<li>solicit personal information from anyone under 18;</li>
<li>impersonate any person or entity, including, but not limited to, a FASTFRESHLIFE official, or falsely state or otherwise misrepresent your affiliation with a person or entity;</li>
<li>provide a false birthday or age;</li>
<li>forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through FASTFRESHLIFE;</li>
<li>upload, post, email or otherwise transmit any Content that you do not have a right to transmit under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</li>
<li>upload, post, email or otherwise transmit any Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights (Rights) of any party;</li>
<li>upload, post, email or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes, or any other form of solicitation, except in those areas (such as classifieds) that are designated for such purpose;</li>
<li>upload, post, email or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
<li>stalk or otherwise harass another;</li>
<li>collect or store personal data about other users;</li>
<li>upload, post, email or otherwise transmit any Content that provides instruction about illegal activities, including illegal drug use, child predation, terrorist activities, instructions in assembling or obtaining bombs or other weapons;</li>
<li>upload, post, email or otherwise transmit any Content that encourages or promotes physical harm against any group or individual. This includes Content that encourages or promotes self-harm;</li>
<li>interfere with or disrupt FASTFRESHLIFE or the servers or networks used to provide or receive FASTFRESHLIFE or disobey any requirement, procedure, policies and regulation of any networks used to provide and receive FASTFRESHLIFE;</li>
<li>intentionally or unintentionally violate any applicable local, state, national, foreign or international laws or regulation, including, any rule or regulation of any securities exchange, such as the New York Stock Exchange, the American Stock Exchange or the NASDAQ, any self-regulatory organization or the U.S. Securities and Exchange Commission.</li>
</ul>
<p>FASTFRESHLIFE has the right to determine whether any Content or Conduct violates the Rules of Member Conduct or the Terms of Use in its sole and absolute discretion.</p>

<p>You acknowledge that FASTFRESHLIFE has no responsibility for monitoring, filtering or pre-screening Content, but that FASTFRESHLIFE and its designees shall have the right (but not the obligation) in their sole discretion to refuse or remove any Content that violates the Terms of Use or is otherwise objectionable.</p>

<p>You understand that all Content posted to the Website or otherwise transmitted via FASTFRESHLIFE is the sole responsibility of the individual who originally posted the Content, and that your sole recourse for any damage you may suffer as a result of such content shall be to such individual. You agree that FASTFRESHLIFE will not be liable, under any circumstances and in any way, for any errors or omissions, loss or damage of any kind incurred as a result of the use of any Content posted or otherwise transmitted via FASTFRESHLIFE, and you hereby release FASTFRESHLIFE and its officers, directors, shareholders and employees therefrom. You agree that you must evaluate, and bear all risks associated with the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content.</p>

<p>FASTFRESHLIFE reserves the right to preserve and disclose Content posted to or transmitted via FASTFRESHLIFE if reasonably necessary to:</p>

<ul>
<li>enforce this Agreement</li>
<li>comply with a legal process</li>
<li>protect the rights, property, or personal safety of any party.</li>
</ul>

<p>FASTFRESHLIFE reserves the right to take appropriate legal action against anyone who uses FASTFRESHLIFE in violation of the Terms of Use. Whenever FASTFRESHLIFE learns of any use of FASTFRESHLIFE in violation of or that may be in violation of any applicable law, FASTFRESHLIFE may report this to law enforcement authorities and otherwise cooperate with such authorities in their investigation.</p>

<h3>DATA TRANSMISSION SECURITY</h3>

<p>You acknowledge that FASTFRESHLIFE has no control of the communications lines used to access FASTFRESHLIFE because such lines are provided by a third party public utility and, as such, that the security of transmissions to and from FASTFRESHLIFE is not the responsibility of FASTFRESHLIFE.</p>

<h3>CONTENT SUBMITTED TO FASTFRESHLIFE.COM</h3>
<p>(This section refers to Content that you create)</p>

<p>You retain all ownership rights to your Content. Except for its ownership of the collection of all content on FASTFRESHLIFE, as described below, FASTFRESHLIFE does not claim ownership of any Content you publish in your area of the Website (Your FASTFRESHLIFE Site).</p>

<p>When you publish your Content on FASTFRESHLIFE, you grant FASTFRESHLIFE a temporary license to rebroadcast it. We need this license to be able to show your Content to other members and visitors.</p>

<p>By publishing Content on Your FASTFRESHLIFE Site you grant FASTFRESHLIFE a world-wide, royalty-free, and non-exclusive license to reproduce, modify, distribute, transmit, publicly perform and publicly display the Content (as well as permit others - including without limitation FASTFRESHLIFEs co-brand, content and syndication partners - to do the same) solely for the following purposes:</p>

<ul>
<li>Displaying, distributing and promoting Your FASTFRESHLIFE Site</li>
<li>Promoting and marketing FASTFRESHLIFEs products and services and general operation of the FASTFRESHLIFE Service</li>
<li>Promoting and marketing the products and services of FASTFRESHLIFEs partners and affiliates</li>
<li>Promoting and marketing products and services related to your Content.</li>
</ul>

<p>This license exists only for as long as the Content remains published on Your FASTFRESHLIFE Site and only for as long you remain a FASTFRESHLIFE member, except that you grant FASTFRESHLIFE a continuing perpetual license and right to maintain a copy of your FASTFRESHLIFE Site and Content for archival purposes. This archival copy is not posted publicly on the FASTFRESHLIFE system; it is maintained solely so that FASTFRESHLIFE may recover content and restore accounts (in case of errors or system failure) or cooperate with law enforcement in order to make the FASTFRESHLIFE service safer. Except for this license for archival use, in the event that you remove the Content from Your FASTFRESHLIFE Site or in the event that your membership is terminated, this license shall expire either immediately or upon termination of any promotional or marketing activities ongoing at the time.</p>

<h3>COPYRIGHT</h3>

<p>Content created by FASTFRESHLIFE or its suppliers</p>

<p>All content created by FASTFRESHLIFE, its partners, or its suppliers and included on FASTFRESHLIFE, such as text, logos, graphics, images, javascript code, HTML code, and other software, is the property of FASTFRESHLIFE, Inc. (or its partners or suppliers) and protected by U.S. and international copyright and other intellectual property laws.</p>

<p>Compilations of Content</p>

<p>Notwithstanding the provisions outlined in Content submitted to FASTFRESHLIFE.com above*, the collection of all Content on this site is a collective work under the U.S. copyright laws and is the exclusive property of FASTFRESHLIFE and protected by U.S. and international copyright laws. The Content and software on FASTFRESHLIFE may be used as a homepage creation or web-surfing resource. Any other use, including the reproduction, modification, distribution, transmission, republication, display, or performance, of the Content on FASTFRESHLIFE is strictly prohibited.</p>

<p>*Individual Contributors retain all ownership rights to their Content. FASTFRESHLIFE does not claim ownership of any Content you publish on Your FASTFRESHLIFE Site.</p>

<h3>COPYRIGHT INFRINGEMENT</h3>

<p>You may not post, modify, distribute, or reproduce in any way any copyrighted material, belonging to others without obtaining their prior written consent.. After receipt of proper notice of copyright infringement FASTFRESHLIFE will remove or disable access to the allegedly infringing material and notify the site owner via email or private message. FASTFRESHLIFE may, in appropriate circumstances and at its discretion, terminate the accounts of users who may be repeat infringers. FASTFRESHLIFE reserves the right to terminate your use of FASTFRESHLIFE at any time and remove any infringing Content if you infringe the copyright rights of others.</p>

<h3>PROCEDURES FOR MAKING COPYRIGHT INFRINGEMENT CLAIMS</h3>
<p>Except as expressly provided above, nothing contained herein shall be construed as conferring any license or right under any copyright or any other intellectual property right.  It is our policy to respond appropriately to notices of alleged infringement that comply with the Digital Millennium Copyright Act (DMCA), including by removing or disabling access to material claimed to be the subject of infringing activity.  If you are an owner of intellectual property who believes that your intellectual property has been improperly posted or distributed via this web site, please notify our designated DMCA agent immediately at: dmcaagent@sourceinterlink.com, or by mail at CarDomain Network, Inc., 831 S. Douglas Street, El Segundo, California, attention: Legal.  DMCA Notices must be in writing and must include the following information:</p>

<ul>
<li>an electronic or physical signature of the person authorized to act on behalf of the copyright owner;</li>
<li>a description of the copyrighted work that you claim has been infringed;</li>
<li>the URL of the site and a description of where the material that you claim is infringing is located on that site;</li>
<li>your address, telephone number, and email address;</li>
<li>a statement by you that you have a good faith belief that the alleged infringing material is not authorized by the copyright owner, its agent, or the law;</li>
<li>a statement by you, made under penalty of perjury, that all the information in your Notice is accurate, and that you are either the copyright owner or authorized to act on the behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ul>
 
<h3>TRADEMARKS</h3>

<p>FASTFRESHLIFE is a registered trademark of FASTFRESHLIFE. FASTFRESHLIFEs marks may not be used in connection with any product or service that is not FASTFRESHLIFEs, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits FASTFRESHLIFE.</p>

<h3>PERSONAL INFORMATION</h3>

<p>You hereby certify to FASTFRESHLIFE that you are at least 13 years old. FASTFRESHLIFE is intended for people who are at least 13 years old. Children under 13 are not permitted to join FASTFRESHLIFE or participate in the FASTFRESHLIFE community, and FASTFRESHLIFE will delete FASTFRESHLIFE accounts held by people it learns are under the age of 13.</p>

<p>For purposes of identification, when you register for a FASTFRESHLIFE account you must provide FASTFRESHLIFE with accurate, complete, and updated information required by the registration to FASTFRESHLIFE - namely, a valid email address and date of birth. If you choose to purchase any of FASTFRESHLIFEs pay services or provide information for one of FASTFRESHLIFEs age verification services, you must provide FASTFRESHLIFE with accurate, complete and updated information (e.g. a credit card number and expiration date). FASTFRESHLIFE may require a copy of a state issued form of identification before making changes to the registration data, age verification status or billing information on a customers account.  Please see our Privacy Policy, which is incorporated in this Agreement by reference, for further information concerning the personal information collected and received on FASTFRESHLIFE.</p>

<h3>LINKS</h3>

<p>FASTFRESHLIFE may include links to other websites or resources. FASTFRESHLIFE has no control over such sites and resources, and is not responsible for the availability of such external sites or resources. FASTFRESHLIFE does not endorse and is not responsible for any content, advertising, products, or other materials on or available from such sites or resources or your use of such sites or resources.</p>

<h3>INDEMNITY</h3>

<p>You agree to indemnify and hold FASTFRESHLIFE, and its subsidiaries, affiliates, officers, agents, and employees, harmless from any loss, damage, claim or demand, including reasonable attorney fees, arising out of your Content, your use of FASTFRESHLIFE, your connection to FASTFRESHLIFE, your violation of the Terms of Use, or your violation of any rights of another, whether you are a registered user or not. You are solely responsible for your actions when using FASTFRESHLIFE, including, but not limited to, costs incurred for Internet access.</p>

<h3>DISCLAIMER OF WARRANTIES</h3>

<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT:</p>

<ul>
<li>YOUR USE OF FASTFRESHLIFE IS AT YOUR SOLE RISK. FASTFRESHLIFE IS PROVIDED ON AN AS IS AND AS AVAILABLE BASIS. FASTFRESHLIFE EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</li>
<li>FASTFRESHLIFE MAKES NO WARRANTY THAT (i) FASTFRESHLIFE WILL MEET YOUR REQUIREMENTS, (ii) FASTFRESHLIFE OR ANY SOFTWARE PROVIDED TO YOU THROUGH FASTFRESHLIFE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF FASTFRESHLIFE WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH FASTFRESHLIFE WILL MEET YOUR EXPECTATIONS, AND (V) ANY ERRORS IN  SOFTWARE AND ANY SOFTWARE PROVIDED TO YOU THROUGH FASTFRESHLIFE WILL BE CORRECTED.</li>
<li>ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF FASTFRESHLIFE IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA OR OTHER LIABILITY THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</li>
<li>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM FASTFRESHLIFE OR THROUGH OR FROM FASTFRESHLIFE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS OF USE.</li>
</ul>

<h3>LIMITATION OF LIABILITY</h3>

<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT FASTFRESHLIFE SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF FASTFRESHLIFE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE FASTFRESHLIFE; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM FASTFRESHLIFE; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON FASTFRESHLIFE; OR (v) ANY OTHER MATTER RELATING TO FASTFRESHLIFE.</p>

<h3>U.S. GOVERNMENT RESTRICTED RIGHTS</h3>

<p>The materials on FASTFRESHLIFE are provided with RESTRICTED RIGHTS. Use, duplication, or disclosure by the U.S. Government is subject to restrictions as set forth in applicable laws and regulations. Use of the materials by the U.S. Government constitutes acknowledgment of FASTFRESHLIFEs proprietary rights in them.</p>

<h3>APPLICABLE LAW</h3>

<p>The laws of the State of New Jersey will govern the Terms of Use, without giving effect to any principles of conflicts of laws.</p>

</div>

</div>

</div>

{% include "jscript.html" %}

</body>
{% endblock %}