<div id="usernavbar" class="row usernav rounded-corners">
<ul>
    <li id="home"><a href="/home/">Home</a></li>
    <li id="journal"><a href="/journal/{{user.username}}/">Journal</a></li>
    <li id="explore"><a href="/explore/">Explore</a></li>
    <li id="groups"><a href="/groups/">Groups</a></li>
    <li id="videos"><a href="/videos/">Videos</a></li>
    <li id="photoboard"><a href="/photoboard/">Photoboard</a></li>
</ul>
<form id="navSearch" class="form-search pull-right"  method="get" action="/search/">
    <input name="q" id="q" type="text" class="input-medium search-query">
   <button type="submit" class="btn">Search</button>
</form>
</div>
